/* Backend Styles */
.gallery-wrapper .admin-image-wrapper {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0% 4%; }
  .gallery-wrapper .admin-image-wrapper img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
