footer {
  padding: 3.8% 0 1.84%;
  background: linear-gradient(10deg, #15296b 56.5%, #86C844 56.7%);

  @media (max-width:991px) {
    background: linear-gradient(10deg, #15296b 58.5%, #86c844 58.7%);
  }

  .member-wrapper {
    h3 {
      text-transform: uppercase;
      font-size: 1.25em;
      text-align: right;
      font-weight: 700;
      color: #fff;

      @media (max-width:991px) {
        text-align: center;
      }
    }
  }

  .button-wrapper {
    @include button(#fff, #fff);
    margin-left: 9%;
    margin: 19px 0 0;

    @media (min-width:992px) {
      margin: 19px 0 0 9%;
    }

    a {
      font-size: 1.25em;
      width: 63%;
      padding: 4px 30px;

      &:hover {
        color: #15296B;
      }
    }
  }

  .memeber-row {
    position: relative;
    z-index: 2;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    margin: 45px 0;
    display: flex;
    flex-direction: column;

    @media (min-width:992px) {
      margin: -45px 0 0 0;
    }

  }

  .logo-row {
    @media (max-width: 991px) {
      position: absolute;
      bottom: 0;
      right: 0;
      order: 2;
    }

    @media (max-width: 767px) {
      position: relative;
    }

    svg {
      width: 100%;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    &.footer-nav {
      li {
        line-height: 1.7;
      }
    }

    &.contact-list {
      li {
        line-height: 1.5;
      }
    }

    * {
      font-weight: 700;
      color: #fff;
    }

    li {
      font-size: .75em;

      a {
        transition: all 0.3s ease;

        &:hover {
          color: #fff;
          text-decoration: none;
          opacity: .7;
        }
      }
    }
  }

  h4 {
    font-weight: 700;
    font-size: .75em;
    color: #fff;
  }

  .main-footer {
    margin-top: 7px;

    .social {
      ul {
        display: flex;
        margin-bottom: 0;

        li {
          font-size: 1em;

          &:nth-of-type(even) {
            margin: 0 21px;
          }
        }
      }
    }
  }
}