header {

  @media (max-width: 500px) {
    font-size: .8em;
  }

  &.main {
    background-size: cover;
    background-position: center center;
    padding: 0 0 56px;
    position: relative;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .menu {
    padding: 3% 0;
  }

  nav.navbar {
    padding: 0.5rem 0;

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: #86c846;
    }

    .hamburger.is-active {

      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: #86c846;
      }
    }

    .navbar-nav {
      width: 100%;

      .main-nav-container {
        width: 100%;

        .main-nav {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0;

          @media (max-width: 991px) {
            flex-direction: column;
          }

          li {
            &.active {
              a {
                color: #86c846;

                &::after {
                  color: #fff;
                }
              }

              &.menu-item>.dropdown-menu li a {
                color: #fff;
              }

            }

            &:last-of-type {
              a::after {
                display: none;
              }
            }

            a {
              color: #fff;
              text-transform: uppercase;
              font-size: .9em;
              font-weight: 700;
              transition: all 0.3s ease-out;
              padding: 0;

              @media (max-width: 991px) {
                font-size: 1.1em;
              }

              &:hover {
                color: #86c846;

                &::after {
                  color: #fff;
                }
              }

              &::after {
                @media (min-width: 992px) {

                  content: "|";
                  margin: 0 0.8rem;
                }

              }
            }

            &.menu-item {
              &> {
                .dropdown-menu {
                  z-index: -1;
                  background-color: #86c846;
                  margin-top: 15px;
                  left: -50%;
                  border-radius: initial;
                  padding: 25px;
                  min-height: 30px;
                  pointer-events: none;

                  @media (max-width: 991px) {
                    background-color: transparent;
                    padding: 10px;
                    border: none;
                    margin-top: 0;
                    left: auto;
                    display: block;

                    li a {
                      font-size: .85em;

                    }
                  }

                  @media (min-width: 992px) {
                    opacity: 0;
                    display: flex;

                    &:hover {

                      .dropdown-menu {
                        opacity: 1;
                        z-index: 2;
                        pointer-events: all;
                      }

                    }
                  }

                  .dropdown-menu {
                    flex-direction: column;
                  }

                  li.active>a {
                    color: #15296B;
                  }

                  @media (min-width: 992px) {
                    &::before {
                      content: "";
                      width: 100%;
                      height: 20px;
                      position: absolute;
                      top: -20px;
                      background-image: url('../imgs/nav-arrow.svg');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: 25% 0%;
                    }
                  }

                  .dropdown-item {
                    &:hover {
                      background-color: transparent;
                      color: #15296B;
                    }
                  }
                }
              }

              &:hover {
                &> {
                  .dropdown-menu {
                    opacity: 1;
                    z-index: 2;
                    pointer-events: all;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1199px) {
      font-size: 0.8em;
    }
  }

  .gradient-header {
    background: linear-gradient(175deg,
        rgba(21, 41, 107, 0.75) 62%,
        transparent 62.45%);

    @media (max-width: 767px) {
      background: linear-gradient(180deg, rgba(21, 41, 107, .75) 54%, transparent 54.45%);
    }

    .header-spacing {
      padding: 2.5% 0 3.42%;
    }

    .logo-row {
      justify-content: space-between;

      .logo-wrapper {
        svg {
          width: 100%;
        }
      }

      .members-button {
        @include button(#fff, #86c846);
        justify-content: flex-end;

        a {
          min-width: 225px;
          width: 89.5%;
          font-size: 1.25em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 33px;

          &:hover {
            color: #86c846;
          }
        }

        @media (max-width: 991px) {
          padding: 5% 15px;
        }

        @media (max-width: 767px) {
          justify-content: center;
        }
      }

      @media (max-width: 1199px) {
        font-size: 0.8em;
      }
    }

    .social-row {
      justify-content: flex-end;

      .social {
        ul {
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          margin: 0;

          @media (max-width: 767px) {
            justify-content: center;
          }

          li {
            width: 28px;
            height: 28px;
            background-color: #86c846;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in-out;
            cursor: pointer;

            &:nth-of-type(even) {
              margin: 0 8px;
            }

            &:hover {
              background-color: #fff;

              a {
                color: #86c846;
              }
            }

            a {
              color: #fff;
              transition: all 0.5s ease-in-out;
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  .intro-text {
    justify-content: center;
    padding: 4.1% 0;

    .head-text-content {
      text-align: center;

      h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 2.5em;
        display: inline-block;
      }

      @media (max-width: 400px) {
        font-size: 0.7em;
      }
    }
  }

  .button-row {
    justify-content: center;
    padding: 2.3% 0;

    .button-wrapper {
      @include button(#fff, #86c846);

      a {
        border-width: 3px;
        max-width: 200px;
        width: 80%;

        &:hover {
          color: #86c846;
        }
      }
    }
  }
}


.dropdown-menu {}