header {
  &.main {
    background-size: cover;
    background-position: center center;
    padding: 0 0 56px;
    position: relative;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .menu {
    padding: 3% 0;
  }

  nav.navbar {
    padding: 0.5rem 0;

    .navbar-nav {
      width: 100%;

      .main-nav-container {
        width: 100%;

        .main-nav {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0;

          li {
            &.active {
              a {
                color: #86c846;

                &::after {
                  color: #fff;
                }
              }

              &.menu-item>.dropdown-menu li a {
                color: #fff;
              }

            }

            &:last-of-type {
              a::after {
                display: none;
              }
            }

            a {
              color: #fff;
              text-transform: uppercase;
              font-size: 1em;
              font-weight: 700;
              transition: all 0.3s ease-out;
              padding: 0;

              &:hover {
                color: #86c846;

                &::after {
                  color: #fff;
                }
              }

              &::after {
                content: "|";
                margin: 0 0.8rem;
              }
            }

            &.menu-item {
              &> {
                .dropdown-menu {
                  display: flex;
                  opacity: 0;
                  z-index: -1;
                  background-color: #86c846;
                  margin-top: 15px;
                  left: -50%;
                  border-radius: initial;
                  padding: 25px 25px;
                  min-height: 30px;

                  li.active a {
                    color: #15296B;
                  }

                  &::before {
                    content: "";
                    width: 100%;
                    height: 20px;
                    position: absolute;
                    top: -20px;
                    background-image: url('../imgs/nav-arrow.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 25% 0%;
                  }

                  .dropdown-item {
                    &:hover {
                      background-color: transparent;
                      color: #15296B;
                    }
                  }
                }
              }

              &:hover {
                &> {
                  .dropdown-menu {
                    opacity: 1;
                    z-index: 2;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1199px) {
      font-size: 0.8em;
    }
  }

  .gradient-header {
    background: linear-gradient(175deg,
        rgba(21, 41, 107, 0.75) 62%,
        transparent 62.45%);

    .header-spacing {
      padding: 2.5% 0 3.42%;
    }

    .logo-row {
      justify-content: space-between;

      .members-button {
        @include button(#fff, #86c846);
        justify-content: flex-end;

        a {
          min-width: 225px;
          width: 89.5%;
          font-size: 1.25em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 33px;

          &:hover {
            color: #86c846;
          }
        }
      }
    }

    .social-row {
      justify-content: flex-end;

      .social {
        ul {
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          margin: 0;

          li {
            width: 28px;
            height: 28px;
            background-color: #86c846;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in-out;
            cursor: pointer;

            &:nth-of-type(even) {
              margin: 0 8px;
            }

            &:hover {
              background-color: #fff;

              a {
                color: #86c846;
              }
            }

            a {
              color: #fff;
              transition: all 0.5s ease-in-out;
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  .intro-text {
    justify-content: center;
    padding: 4.1% 0;

    .head-text-content {
      text-align: center;

      h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 2.5em;
        display: inline-block;
      }
    }
  }

  .button-row {
    justify-content: center;
    padding: 2.3% 0;

    .button-wrapper {
      @include button(#fff, #86c846);

      a {
        border-width: 3px;
        max-width: 200px;
        width: 80%;

        &:hover {
          color: #86c846;
        }
      }
    }
  }
}