body h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  font-family: 'Montserrat', sans-serif; }

.seperator-wrapper {
  margin: 15px 0;
  width: 100%; }
  .seperator-wrapper .seperator {
    width: 100%;
    height: 5px;
    border-left: solid #fff;
    border-top: 3px solid transparent; }
  .seperator-wrapper.green {
    width: 100%; }
    .seperator-wrapper.green .seperator {
      width: 100%;
      height: 5px;
      border-left: solid #86C846;
      border-top: 3px solid transparent; }

.wpb_wrapper {
  height: 100%; }

.green {
  color: #86C846; }
  .green p,
  .green a {
    color: #86C846; }

.upper {
  text-transform: uppercase; }
  .upper p,
  .upper a {
    font-size: 18px !important;
    text-transform: uppercase; }
  .upper a:hover {
    color: #86C846;
    text-decoration: none; }

header {
  background-size: cover;
  background-position: center center;
  padding: 0 0 56px;
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  header .menu {
    padding: 3% 0; }
  header nav.navbar {
    padding: 0.5rem 0; }
    header nav.navbar .navbar-nav {
      width: 100%; }
      header nav.navbar .navbar-nav .main-nav-container {
        width: 100%; }
        header nav.navbar .navbar-nav .main-nav-container .main-nav {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li.active a {
            color: #86c846; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li.active a::after {
              color: #fff; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li.active.menu-item > .dropdown-menu li a {
            color: #fff; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li:last-of-type a::after {
            display: none; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li a {
            color: #fff;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            transition: all 0.3s ease-out;
            padding: 0; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li a:hover {
              color: #86c846; }
              header nav.navbar .navbar-nav .main-nav-container .main-nav li a:hover::after {
                color: #fff; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li a::after {
              content: "|";
              margin: 0 0.8rem; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li.menu-item > .dropdown-menu {
            display: flex;
            opacity: 0;
            z-index: -1;
            background-color: #86c846;
            margin-top: 15px;
            left: -50%;
            border-radius: initial;
            padding: 25px 25px;
            min-height: 30px; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li.menu-item > .dropdown-menu li.active a {
              color: #15296B; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li.menu-item > .dropdown-menu::before {
              content: "";
              width: 100%;
              height: 20px;
              position: absolute;
              top: -20px;
              background-image: url("../imgs/nav-arrow.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: 25% 0%; }
            header nav.navbar .navbar-nav .main-nav-container .main-nav li.menu-item > .dropdown-menu .dropdown-item:hover {
              background-color: transparent;
              color: #15296B; }
          header nav.navbar .navbar-nav .main-nav-container .main-nav li.menu-item:hover > .dropdown-menu {
            opacity: 1;
            z-index: 2; }
    @media (max-width: 1199px) {
      header nav.navbar {
        font-size: 0.8em; } }
  header .gradient-header {
    background: linear-gradient(175deg, rgba(21, 41, 107, 0.75) 62%, transparent 62.45%); }
    header .gradient-header .header-spacing {
      padding: 2.5% 0 3.42%; }
    header .gradient-header .logo-row {
      justify-content: space-between; }
      header .gradient-header .logo-row .members-button {
        display: flex;
        justify-content: center;
        justify-content: flex-end; }
        header .gradient-header .logo-row .members-button a,
        header .gradient-header .logo-row .members-button div {
          color: #fff;
          border: 2px solid #86c846;
          text-transform: uppercase;
          font-weight: 500;
          padding: 10px 30px;
          transition: all 0.4s ease-in-out;
          text-align: center; }
          header .gradient-header .logo-row .members-button a:hover,
          header .gradient-header .logo-row .members-button div:hover {
            background-color: #fff;
            color: #86c846;
            text-decoration: none; }
        header .gradient-header .logo-row .members-button a {
          min-width: 225px;
          width: 81.5%;
          font-size: 1.25em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 33px; }
    header .gradient-header .social-row {
      justify-content: flex-end; }
      header .gradient-header .social-row .social ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 0; }
        header .gradient-header .social-row .social ul li {
          width: 28px;
          height: 28px;
          background-color: #86c846;
          border-radius: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease-in-out;
          cursor: pointer; }
          header .gradient-header .social-row .social ul li:nth-of-type(even) {
            margin: 0 8px; }
          header .gradient-header .social-row .social ul li:hover {
            background-color: #fff; }
            header .gradient-header .social-row .social ul li:hover a {
              color: #86c846; }
          header .gradient-header .social-row .social ul li a {
            color: #fff;
            transition: all 0.5s ease-in-out;
            font-size: 1em; }
  header .intro-text {
    justify-content: center;
    padding: 4.1% 0; }
    header .intro-text .head-text-content {
      text-align: center; }
      header .intro-text .head-text-content h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 2.5em;
        display: inline-block; }
  header .button-row {
    justify-content: center;
    padding: 2.3% 0; }
    header .button-row .button-wrapper {
      display: flex;
      justify-content: center; }
      header .button-row .button-wrapper a,
      header .button-row .button-wrapper div {
        color: #fff;
        border: 2px solid #86c846;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px 30px;
        transition: all 0.4s ease-in-out;
        text-align: center; }
        header .button-row .button-wrapper a:hover,
        header .button-row .button-wrapper div:hover {
          background-color: #fff;
          color: #86c846;
          text-decoration: none; }
      header .button-row .button-wrapper a {
        border-width: 3px;
        max-width: 190px;
        width: 80%; }

footer {
  padding: 3.8% 0 1.84%;
  background: linear-gradient(10deg, #15296b 56.5%, #86C844 56.7%); }
  footer .member-wrapper h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: right;
    font-weight: 700;
    color: #fff; }
  footer .button-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 9%;
    margin: 19px 0 0 9%; }
    footer .button-wrapper a,
    footer .button-wrapper div {
      color: #fff;
      border: 2px solid #fff;
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 30px;
      transition: all 0.4s ease-in-out;
      text-align: center; }
      footer .button-wrapper a:hover,
      footer .button-wrapper div:hover {
        background-color: #fff;
        color: #fff;
        text-decoration: none; }
    footer .button-wrapper a {
      font-size: 1.25em;
      width: 63%;
      padding: 4px 30px; }
      footer .button-wrapper a:hover {
        color: #15296B; }
  footer .wrapper {
    margin-top: -45px; }
  footer .logo-row svg {
    width: 100%; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul.footer-nav li {
      line-height: 1.7; }
    footer ul.contact-list li {
      line-height: 1.5; }
    footer ul * {
      font-weight: 700;
      color: #fff; }
    footer ul li {
      font-size: .75em; }
      footer ul li a {
        transition: all 0.3s ease; }
        footer ul li a:hover {
          color: #fff;
          text-decoration: none;
          opacity: .7; }
  footer h4 {
    font-weight: 700;
    font-size: .75em;
    color: #fff; }
  footer .main-footer {
    margin-top: 7px; }
    footer .main-footer .social ul {
      display: flex; }
      footer .main-footer .social ul li {
        font-size: 1em; }
        footer .main-footer .social ul li:nth-of-type(even) {
          margin: 0 21px; }

.up-events {
  background-color: #ededed;
  padding: 3.8% 0;
  /*   .col-lg-3 {
    &:first-of-type {
      .event-wrapper {
        margin-left: auto;
      }
    }

    &:last-of-type {
      .event-wrapper {
        margin-right: auto;
      }
    }
  } */ }
  .up-events .content-row .col-lg-3 {
    margin: 4.2% 0; }
  .up-events .container-fluid {
    width: 67%; }
    .up-events .container-fluid .col-lg-4 {
      padding: 0 10px;
      margin: 2.3% 0px; }
  .up-events .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .up-events .title-wrapper h2 {
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
      color: #15296b; }
      .up-events .title-wrapper h2 .seperator-wrapper {
        padding-top: 14px;
        margin: 0; }
  .up-events .event-wrapper {
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    .up-events .event-wrapper .image-wrapper {
      height: 234px;
      background-position: center center;
      background-size: cover; }
    .up-events .event-wrapper .event-info {
      min-height: 260px;
      display: flex;
      /*  height: 100%; */
      justify-content: center;
      padding: 8.7% 0;
      height: 56%; }
      .up-events .event-wrapper .event-info .date {
        width: 25.7%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .up-events .event-wrapper .event-info .date .date-wrapper {
          text-align: center;
          background-color: rgba(21, 41, 107, 0.2);
          width: 76%;
          padding: 7.21% 0px; }
          .up-events .event-wrapper .event-info .date .date-wrapper p {
            font-weight: 700;
            margin: 0;
            text-transform: uppercase; }
            .up-events .event-wrapper .event-info .date .date-wrapper p:first-of-type {
              font-size: 1.5em; }
            .up-events .event-wrapper .event-info .date .date-wrapper p:last-of-type {
              font-size: 3.125em;
              line-height: 0.8; }
      .up-events .event-wrapper .event-info .text-content {
        display: flex;
        flex-direction: column;
        width: 49.2%; }
        .up-events .event-wrapper .event-info .text-content .title-wrapper {
          min-height: 73px; }
          .up-events .event-wrapper .event-info .text-content .title-wrapper h3 {
            font-size: 1em;
            font-weight: 700;
            color: #15296b;
            width: 100%; }
        .up-events .event-wrapper .event-info .text-content .content-wrapper p {
          color: #636363;
          font-size: 0.875em;
          font-weight: 500; }
        .up-events .event-wrapper .event-info .text-content .button-wrapper {
          margin-top: auto;
          display: flex;
          justify-content: center;
          justify-content: flex-start; }
          .up-events .event-wrapper .event-info .text-content .button-wrapper a,
          .up-events .event-wrapper .event-info .text-content .button-wrapper div {
            color: #86c846;
            border: 2px solid #86c846;
            text-transform: uppercase;
            font-weight: 500;
            padding: 10px 30px;
            transition: all 0.4s ease-in-out;
            text-align: center; }
            .up-events .event-wrapper .event-info .text-content .button-wrapper a:hover,
            .up-events .event-wrapper .event-info .text-content .button-wrapper div:hover {
              background-color: #86c846;
              color: #86c846;
              text-decoration: none; }
          .up-events .event-wrapper .event-info .text-content .button-wrapper a:hover {
            color: #fff; }

.button-row {
  margin: 3.6% -15px; }
  .button-row .button-wrapper {
    display: flex;
    justify-content: center; }
    .button-row .button-wrapper a,
    .button-row .button-wrapper div {
      color: #15296b;
      border: 2px solid #15296b;
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 30px;
      transition: all 0.4s ease-in-out;
      text-align: center; }
      .button-row .button-wrapper a:hover,
      .button-row .button-wrapper div:hover {
        background-color: #15296b;
        color: #15296b;
        text-decoration: none; }
    .button-row .button-wrapper a,
    .button-row .button-wrapper div {
      cursor: pointer;
      width: 88%;
      font-size: 1.25em;
      padding: 4px 30px; }
      .button-row .button-wrapper a:hover,
      .button-row .button-wrapper div:hover {
        color: #fff; }

.single-event .title-wrapper h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #15296B;
  font-weight: 700;
  padding-right: 4%; }

.single-event .main-content .details {
  position: relative; }
  .single-event .main-content .details .text-wrapper {
    margin: 8.6% 0; }
    .single-event .main-content .details .text-wrapper h3 {
      margin: 0;
      font-size: 1.125em;
      color: #86C846;
      font-weight: 700;
      text-transform: uppercase; }
    .single-event .main-content .details .text-wrapper p {
      margin: 0;
      font-size: 1.125em;
      color: #15296B;
      font-weight: 700; }
  .single-event .main-content .details .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    max-width: 308px;
    width: 100%; }

.single-event .main-content .event-info p {
  line-height: 18px;
  font-size: .875em; }
  .single-event .main-content .event-info p:first-of-type {
    width: 39.1%; }

.woocommerce .col2-set,
.woocommerce-page .col2-set {
  display: flex;
  flex-direction: column;
  align-items: center; }

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: none;
  max-width: none;
  flex: 1 1 auto; }

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: none;
  max-width: none;
  flex: 1 1 auto; }

/* Create Account Error */
.members-access-error h2 {
  font-size: 1.5em; }

.add-cart {
  cursor: pointer; }

.container-wrapper {
  display: flex; }
  .container-wrapper > :nth-child(odd) {
    width: 50%; }
  .container-wrapper > :nth-child(even) {
    width: 50%; }
  .container-wrapper .pad-link {
    padding: 75px 0 61px; }
  .container-wrapper .normal-text {
    padding: 0px 15px; }

.normal-text .title-wrapper {
  margin: 0 0 2.8%; }
  .normal-text .title-wrapper h2 {
    color: #15296B;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0; }

.normal-text .content-wrapper p {
  font-weight: 500;
  font-size: 0.875em; }

.normal-text .norm-button-wrapper {
  display: flex;
  justify-content: center;
  justify-content: flex-start; }
  .normal-text .norm-button-wrapper a,
  .normal-text .norm-button-wrapper div {
    color: #15296B;
    border: 2px solid #15296B;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 30px;
    transition: all 0.4s ease-in-out;
    text-align: center; }
    .normal-text .norm-button-wrapper a:hover,
    .normal-text .norm-button-wrapper div:hover {
      background-color: #15296B;
      color: #15296B;
      text-decoration: none; }
  .normal-text .norm-button-wrapper a:hover {
    color: #fff; }

.angle-container {
  display: flex;
  justify-content: center; }
  .angle-container .angle-clip {
    width: 78.1%;
    height: 311px;
    overflow: hidden;
    box-shadow: 0px -65px 40px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1; }
    .angle-container .angle-clip .contact-info {
      width: 114%;
      background-color: #15296b;
      height: 98%;
      position: relative;
      -webkit-transform: rotate(-9deg);
              transform: rotate(-9deg);
      top: -11%;
      left: -6%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16); }
      .angle-container .angle-clip .contact-info .text-fixed {
        -webkit-transform: rotate(9deg);
                transform: rotate(9deg);
        padding: 6.5% 7.1% 0 5.2%;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column; }
      .angle-container .angle-clip .contact-info p,
      .angle-container .angle-clip .contact-info a {
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0; }
      .angle-container .angle-clip .contact-info .seperator-wrapper {
        display: flex;
        justify-content: center;
        margin: 5% 0; }
        .angle-container .angle-clip .contact-info .seperator-wrapper .seperator {
          width: 57.3%; }

.light-box {
  min-height: 553px;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  display: flex;
  transition: all 0.5s ease;
  position: relative;
  z-index: 10; }
  .light-box .light-angled {
    background: linear-gradient(13deg, rgba(21, 41, 107, 0.5) 49%, transparent 49.33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 553px; }
    .light-box .light-angled h3 {
      color: #86C846;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }

.container.vc_row {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex; }

.main-goals .main-goals-wrapper {
  background-color: #15296B;
  color: #fff;
  /* width: 85%; */
  padding: 7% 0; }
  .main-goals .main-goals-wrapper .title-wrapper {
    text-align: center;
    padding: 10px 0; }
    .main-goals .main-goals-wrapper .title-wrapper h2 {
      display: inline-block;
      font-size: 1.5em;
      width: 65.5%;
      margin: 0;
      text-transform: uppercase;
      font-weight: 700; }
      .main-goals .main-goals-wrapper .title-wrapper h2 .seperator-wrapper {
        padding: 15px 0; }
  .main-goals .main-goals-wrapper .goals {
    display: flex;
    justify-content: center; }
    .main-goals .main-goals-wrapper .goals ul {
      width: 78.7%;
      padding: 0;
      list-style: none; }
      .main-goals .main-goals-wrapper .goals ul li {
        font-weight: 500;
        font-size: .75em;
        margin: 7.5% 0; }

.aims .wpb_wrapper {
  height: 100%; }

.aims .normal-text {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .aims .normal-text .content-wrapper p {
    font-size: .75em;
    margin-bottom: 2.25em; }
  .aims .normal-text .norm-button-wrapper {
    margin-top: auto; }

.green-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }
  .green-content .inner-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.3% 0; }
    .green-content .inner-wrapper .title-wrapper {
      text-align: center; }
      .green-content .inner-wrapper .title-wrapper h2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #15296B;
        text-transform: uppercase;
        /* width: 26.8%; */
        min-width: 255px; }
        .green-content .inner-wrapper .title-wrapper h2 .seperator-wrapper {
          margin: 15px 0; }
    .green-content .inner-wrapper .content-wrapper {
      margin: 6.5% 0;
      width: 100%; }
      .green-content .inner-wrapper .content-wrapper p {
        font-size: 0.875em;
        font-weight: 500; }
    .green-content .inner-wrapper .button-wrapper {
      display: flex;
      justify-content: center; }
      .green-content .inner-wrapper .button-wrapper a,
      .green-content .inner-wrapper .button-wrapper div {
        color: #86C846;
        border: 2px solid #86C846;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px 30px;
        transition: all 0.4s ease-in-out;
        text-align: center; }
        .green-content .inner-wrapper .button-wrapper a:hover,
        .green-content .inner-wrapper .button-wrapper div:hover {
          background-color: #86C846;
          color: #86C846;
          text-decoration: none; }
      .green-content .inner-wrapper .button-wrapper a:hover {
        color: #fff; }

.toggle-content {
  position: relative;
  height: 100%; }
  .toggle-content:hover > .light-box,
  .toggle-content:hover > .staff-box {
    opacity: 0;
    z-index: 1; }
  .toggle-content:hover > .reveal-box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 10; }

.light-group {
  padding: 54px 0; }
  .light-group .col-lg-6 {
    margin: 13px 0; }
  .light-group .light-box {
    min-height: 456px; }
    .light-group .light-box .light-angled {
      min-height: 456px; }

.staff-box {
  background: linear-gradient(175deg, #86c846 55px, #15296B 30.7%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17.55% 0; }
  .staff-box .title h3 {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em; }

.staff-reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, rgba(134, 200, 70, 0.3) 55px, transparent 30.7%); }
  .staff-reveal.non-mem {
    background: none;
    border: 1px solid #86C846; }
    .staff-reveal.non-mem .grey-space {
      display: none; }
    .staff-reveal.non-mem .inner-wrapper {
      width: 100%; }
      .staff-reveal.non-mem .inner-wrapper .content-wrapper h2 {
        display: none; }
  .staff-reveal .grey-space {
    background-color: #C4C4C4;
    width: 32.65%;
    height: 100%;
    max-width: 111px; }
  .staff-reveal .inner-wrapper {
    width: 67.35%; }
    .staff-reveal .inner-wrapper .content-wrapper {
      padding: 0 15px; }
      .staff-reveal .inner-wrapper .content-wrapper h2 {
        font-size: 0.875em; }
      .staff-reveal .inner-wrapper .content-wrapper p:last-of-type {
        margin: 0; }
      .staff-reveal .inner-wrapper .content-wrapper a,
      .staff-reveal .inner-wrapper .content-wrapper p,
      .staff-reveal .inner-wrapper .content-wrapper li {
        font-size: 12px; }

.reveal-box {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease; }
  .reveal-box .seperator-wrapper {
    display: flex;
    justify-content: center; }
    .reveal-box .seperator-wrapper .seperator {
      border-left-width: 255px !important;
      width: 255px; }

.staff-group {
  justify-content: flex-end;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .staff-group .nth-15 {
    margin: 0 15px;
    max-width: 345px; }
    .staff-group .nth-15:nth-of-type(n+4) {
      margin: 3.8% 15px; }
    .staff-group .nth-15:nth-of-type(3n) {
      margin-right: 0; }
  .staff-group .role-wrapper h2 {
    text-align: center;
    position: relative;
    color: #15296B;
    font-size: 1.5em;
    margin: 22px 0;
    font-weight: 700; }
    .staff-group .role-wrapper h2.lines::before {
      content: "";
      width: 20%;
      border-top: 1px solid #86c846;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 14%;
      max-width: 144px; }
    .staff-group .role-wrapper h2.lines::after {
      content: "";
      width: 20%;
      border-top: 1px solid #86c846;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 14%;
      max-width: 144px; }

.simple-title {
  text-align: center; }
  .simple-title h1,
  .simple-title h2,
  .simple-title h3,
  .simple-title h4,
  .simple-title h5,
  .simple-title h6 {
    display: inline-block;
    color: #15296B;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase; }

.sponsor-menu ul {
  list-style: none;
  padding: 0; }
  .sponsor-menu ul li a {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #15296b; }
